* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --background-left-slide1: url(../img/girls/girl-slide1-l.svg);
    --background-right-slide1: url(../img/girls/girl-slide1-r.svg);
    
    --background-left-slide3: url(../img/girls/girl-slide3left.svg);
    --background-right-slide3: url(../img/girls/girl-slide3right.svg);
     
    --background-size-left-slide3: 51%;
    --background-position-left-slide3: 13% 105%;
    --background-size-right-slide3: 52%;
    --background-position-right-slide3: 90% 105%;
}

body {
    font-family: 'Nirmala UI', sans-serif;
    background: url(../img/background.png) no-repeat center center fixed; 
    background-size: cover;
    background-position: inherit;
}

.slide {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    display: none;
}

.slide.active {
    display: flex;
}


.button-group {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.btn {
    border-radius: 10px;
    border: none;
    font-family: 'Nirmala UI';
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}