.slide.active#slide-1::before {
    content: '';
    background: var(--background-left-slide1) no-repeat;
    background-size: 52%;
    background-position: 20% 120%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: 0;
}

.slide.active#slide-1::after {
    content: '';
    background: var(--background-right-slide1) no-repeat;
    background-size: 61%;
    background-position: 90% 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: 0;
}

.slide-content {
    text-align: center;
    z-index: 1;
}

.slide-content h1 {
    font-family: 'Nirmala UI';
    text-align: center;
    font-weight: 700;
    font-size: 84px;
    font-style: normal;
    line-height: 100.8px;
    margin: 20px 40px;
    -webkit-text-stroke: 1px #ffffff;
    background: linear-gradient(130deg, #EB5D38 31.89%, #FFD600 92.03%);
    text-shadow: 0px 4px 20px rgba(255, 213, 54, 0.50);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.slide-content h2 {
    font-family: 'Nirmala UI';
    text-align: center;
    font-weight: 700;
    font-size: 120px;
    font-style: normal;
    line-height: 120px;
    margin: 260px 0px 0px 0px;
    -webkit-text-stroke: 1px #ffffff;
    background: linear-gradient(130deg, #EB5D38 31.89%, #FFD600 92.03%);
    text-shadow: 0px 4px 20px rgba(255, 213, 54, 0.50);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.slide-content h3 {
    font-family: 'Nirmala UI';
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    font-style: normal;
    line-height: 70px;
    margin: 35px 0px 45px 0px;
    -webkit-text-stroke: 1px #ffffff;
    background: linear-gradient(130deg, #EB5D38 31.89%, #FFD600 92.03%);
    text-shadow: 0px 4px 20px rgba(255, 213, 54, 0.50);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    display: inline-block;
    max-width: 68%;
}

.slide-content p {
    display: inline-block;
    font-family: 'Nirmala UI';
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: #ffffff;
    font-style: normal;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(10px);
    padding: 16px 30px 16px 30px;
    border-radius: 40px;
    margin: 190px 0px 0px 0px;
}

.description {
    display: inline-block;
    font-family: 'Nirmala UI';
    font-weight: 700;
    font-size: 28px;
    line-height: 39.2px;
    letter-spacing: 5.6px;
    color: #fff2ce;
    font-style: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 40px 0px 80px 0px;
    text-transform: uppercase;
    max-width: 75%;
}


.decline {
    padding: 26px 68px;
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
}

.decline:hover {
    background: #373737;
    box-shadow: 4px 4px 20px 0px rgba(255, 255, 255, 0.40);
    font-size: 24px;
    line-height: 24px;
    padding: 30px 91.5px;
}

.continue {
    padding: 26px 79.5px;
    background: linear-gradient(103deg, #FFE53B -32.17%, #FF2525 114.07%);
    box-shadow: 4px 4px 20px 0px rgba(255, 255, 255, 0.40);
    background-color: #ff8303;
    color: #ffffff;
}

.continue:hover {
    box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.40) inset;
    font-size: 24px;
    line-height: 24px;
    padding: 30px 100px;
}

.slider-container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
    gap: 250px;
}

.slider-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 463px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    position: relative;
    overflow: hidden;
    margin: 0px 0px 55px 0px;
}

.slider-image {
    width: 321px;
    height: 374px;
    object-fit: cover;
    margin: 32px 71px 20px 71px;
    transition: transform 0.3s ease;

}

.slider-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
    position: relative;
}

.slider-btn.left {
    transform: rotate(-180deg);
}

.arrow-circle {
    width: 88px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #FFE53B, #FF2525);
    border-radius: 50%;
    transition: background 0.3s ease;
    position: relative;
    overflow: visible;
}

.arrow-circle:hover {
    box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.40) inset;
}

.arrow-icon {
    width: 120px;
    height: 85px;
    position: absolute;
    top: 0px;
    left: -40px;
}

#character-name {
    margin: 0px 0px 30px 0px;
    padding: 0;
    background: none;
    backdrop-filter: none;
    border: 0;
    font-family: "Nirmala UI";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38.4px;
    text-transform: uppercase;
}

.next {
    padding: 26px 190px;
    background: linear-gradient(103deg, #FFE53B -32.17%, #FF2525 114.07%);
    box-shadow: 4px 4px 20px 0px rgba(255, 255, 255, 0.40);
    background-color: #ff8303;
    color: #ffffff;
}

.next:hover {
    box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.40) inset;
    font-size: 24px;
    line-height: 24px;
    padding: 30px 200px;
}



.slide.active#slide-3::before {
    content: '';
    background: var(--background-left-slide3) no-repeat;
    background-size: var(--background-size-left-slide3);
    background-position: var(--background-position-left-slide3);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: 0;
}

.slide.active#slide-3::after {
    content: '';
    background: var(--background-right-slide3) no-repeat;
    background-size: var(--background-size-right-slide3);
    background-position: var(--background-position-right-slide3);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: 0;
}

.info__text {
    display: inline-block;
    font-family: 'Nirmala UI';
    font-weight: 400;
    font-size: 32px;
    line-height: 44.8px;
    color: #ffffff;
    font-style: normal;
    max-width: 70%;
    padding: 40px 0px 120px 0px;
}